NODE_EXPORTER_IMAGE=prom/node-exporter:v1.9.1
NODE_EXPORTER_PORT=9100
NODE_EXPORTER_ARGS=--path.rootfs=/host --collector.systemd --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($|/)
